/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* body { */
    /* text-align: center; */
    /* background-color:#99d6ff; */
/* } */
::placeholder{
    color: slateblue;
}

a {
    color: #559E54;
    text-decoration: none;
    display: inline;
}

a:hover {
    border-bottom: 2px solid #559E54;
}

body {
    background-color: #236AB9;
}

details {
    color: #559E54;
    font-weight: bold;
}

div.comments {
    color: #559E54;
}

div#delete_profile {
    text-align: center;
}

div#error_explanation {
    display: inline-block;
}

div.form-review{
    border: 2px solid #559E54;
}

div#google_login {
    position: absolute;
    right: 650px;
    top: 320px;
}

div#home_button {
    text-align: center;
}

div#new_user {
    text-align: center;
}

div#returning_users {
    text-align: center;
}

div#vacations_occasions {
    flex-direction: row;
}

div#business_vacations, div#family_vacations, div#solo_vacations, div#couples_vacations {
    display: inline;
    padding: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: row; */
}
 
.flex-container > section {
    background-color: #f1f1f1;
    /* width: 300px; */
    margin: 10px;
    text-align: center;
    /* line-height: 50px; */
    justify-content: center;
    font-size: 16px;
    flex: 1;
}

form { 
    color: white;
    text-align: center;
}

form.edit_location {
    text-align: center;
}

form.edit_user{
    text-align: center;
}

form.new_location {
    color: white;
    text-align: center;
}

form.new_user {
    text-align: center;
    padding: 20px;
    width: 50%;
    position: absolute;
    left: 350px;
    top: 150px;
    background-color: #D4F7D4;
}

form#new_user {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.19);
}

h1 {
    color:  #236AB9;
}

h3 {
    color: #559E54;
}

h4 {
    color: white;
    text-align: center;
}

input {
    color: slateblue;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

input.delete_comment {
    float: left;
}

input.delete_profile {
    position: fixed;
    bottom: 0;
    left: 600px;
    width: 200px;
    color: red;
    font-weight: bold;
}


li {
    float: left;
    padding: 40px;
}


section#incoming {
    text-align: center;
    margin: 20px;
    padding: 10px;
    /* top: 190px;
    right: 650px;
    position: absolute;   */
    border: 2px solid rgba(37, 21, 95, 0.452);
    border-radius: 12px;
    background-color: white;
    color: #559E54;
    /* flex: 1; */
}  




section#locations {
    text-align: center;
}

section#ratings {
    color: #559E54;
}

section#reviews {
    text-align: center;
}

section#user_reviews {
    /* position: absolute;
    top: 190px;
    right: 1250px; */
    border: 2px solid rgba(37, 21, 95, 0.452);
    border-radius: 12px;
    background-color: red;
    color: #559E54;
    margin: 20px;
    padding: 10px;
    /* flex: 2; */
}

section#show_location{
    text-align: center;
}

section#top_food {
    text-align: center;
    margin: 20px;
    padding: 10px;
    /* position: absolute;
    top: 190px;
    right: 40px; */
    border: 2px solid rgba(37, 21, 95, 0.452);
    border-radius: 12px;
    background-color: white;
    color: #559E54;
    /* flex: 1; */
}

section#user{
    text-align: center;
}


summary {
    color: #559E54;
}

textarea#location_review_additional_info {
    color: slateblue;
}

textarea#review_additional_info {
    color: slateblue;
}


ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 10px;
  }



/* div.occasions {
    border: 2px solid rgba(37, 21, 95, 0.452);
    border-radius: 12px; */
    /* display: inline;
    padding: 10px; */
/* } */



 

















/* li.navlink{
    margin: 30px;
} */