/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* body { */
    /* text-align: center; */
    /* background-color:#99d6ff; */
/* } */

body {
    background-color: #ccddff;
}

a {
    color: slateblue;
    text-decoration: none;
    display: inline;
}

a:hover {
    border-bottom: 2px solid red;
}

div#error_explanation {
    display: inline-block;
}

section#user_reviews {
    position: absolute;
    top: 185px;
    right: 1250px;
}

section#incoming {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 190px;
    right: 650px;
}   

section#top_food {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 200px;
    right: 40px;
}

section#reviews {
    text-align: center;
}

section#locations {
    text-align: center;
}

section#show_location{
    text-align: center;
}

section#user{
    text-align: center;
}

section#ratings {
    color: red;
}

summary {
    color: slateblue;
}

details {
    color: darkgreen;
    font-weight: bold;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 10px;
  }
li {
    float: left;
    padding: 40px;
}

div#returning_users {
    text-align: center;
}

div#new_user {
    text-align: center;
}

form.new_location {
    color: red;
    text-align: center;
}

form.new_user {
    text-align: center;
    padding: 20px;
    width: 50%;
    position: absolute;
    left: 350px;
    top: 150px;
}

form#new_user {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.19);
}


form.edit_user {
    color: red;
}

form.edit_location {
    color: red;
    text-align: center;
}

form { 
    color: red;
    text-align: center;
}

input {
    color: slateblue;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

::placeholder{
    color: slateblue;
}

input.delete_profile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    color: red;
    font-weight: bold;
}

input.delete_comment {
    float: left;
}

textarea#review_additional_info {
    color: slateblue;
}

textarea#location_review_additional_info {
    color: slateblue;
}

h1 {
    color: slateblue;
}

h3 {
    color: #d64161
}

h4 {
    color: slateblue;
    text-align: center;
}

div.comments {
    color: darkgreen;
}