<section id="locations">
<h1>Browse reviews by location!</h1>

<% if @locations.length != 0 %>
    <% @locations.each do |location| %>
            <%= link_to by_location(location), location_path(location) %> - Review count: <%= location.reviews.count %></br>      
        <% end %></br></br>
<% else %>
    <h4><i>No reviews yet!</i></h4>
<% end %>

<%= link_to 'Home', home_path %>

</section>

