<section id="locations">
<h2>Browse reviews by location!</h2>
<% @locations.each do |location| %>
        <%= link_to by_location(location), location_path(location) %> - Review count: <%= location.reviews.count %></br>      
    <% end %></br></br>


<%= link_to 'Home', home_path %>

</section>

