<h2>Browse review stats by location!</h2>
<% @locations.each do |location| %>
    <%= location_match(@new_location)%>
        <%= by_location(location) %></br>
    <% end %>


    <p>Highest rate location will appear on this page</p>

