<h2>Browse review stats by location!</h2>
    <% @locations_array.collect do |location| %>
        <%= by_location(location) %></br>
    <% end %>


    <p>Highest rate location will appear on this page</p>

