location show </br>
<p>Show location information with location stats</p>
<p>Highest rate location will appear on this page</p>
    <%= by_location(@location)%> 
    <p>comment count</p>
    <p>review count</p>